header {
	background: #CFC6C6;
	margin:0;
	overflow: hidden;
	text-align: center;
	padding: auto;
	width: 100%;
}

nav {
  width: 150px;
  margin-top: 2em;
}

nav ul {
	list-style: none;
}

.contenedor_img {
	display: flex;
	justify-content: center;
    align-items: center;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.jugar {
	background: #E23333;
	border-radius: 10px;
	padding: 1em;
	text-align: center;
	width: 150px;
}

.maquina {
	background: blue;
	border-radius: 20px;
	height: 200px;
	margin-left:1.5em; 
	width: 200px;


}

.usuario {
	border-radius: 20px;
	background: red;
	height: 200px;
	margin-right:1.5em; 
	width: 200px;

}

.usuario figure {
	margin-top: 25px;
	margin-left: 25px;
}

.usuario figure img{
	border-radius: 10px;
	height: 150px;
	width: 150px;
}

/*Estructura general del la pagina inicial*/
/*no olvidar el width en el nav, es solo en este caso*/
.container {
  display: -webkit-flex;
  display: flex;
}
/*nav {
  width: 150px;
}*/
.flex-column {
  -webkit-flex: 1;
          flex: 1;
}
/*fin estructura general de pagina inicial*/


























/*.contenedor_general{
	display: -webkit-flex;
	display: flex;
	border:1px solid blue;
	margin-left: 1em;
	width: 100%;
}

.contenedor {
	border:1px solid red;
	display: flex;
	justify-content: center;
    align-items: center;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.imagenes {
	background: gray;
	width: 100px;
	height: 100px;
	margin: 0.5em;
}

.jugadas{
	width: 200px;
}

.jugar {
	background: #E23333;
	border-radius: 10px;
	padding: 1em;
	width: 150px;
}

.maquina {
	background: blue;
	border-radius: 20px;
	height: 200px;
	margin-left:1.5em; 
	width: 200px;


}

.usuario {
	border-radius: 20px;
	background: red;
	height: 200px;
	margin-right:1.5em; 
	width: 200px;

}

.usuario figure {
	margin-top: 25px;
}

.usuario figure img{
	border-radius: 10px;
	height: 150px;
	width: 150px;
}



#principal {
	text-align: center;
}

#subir {
	margin-top: 1em;
}

*/